@model IEnumerable<ShopOnline.Models.DatHang_ChiTiet>
@{
    ViewBag.Title = "Đơn hàng của tôi";
}

<div class="card mt-3">
    <h5 class="card-header" style="background-color: #f4e0fc">@ViewBag.Title</h5>
    <div class="card-body">

        <div class="row">
            @foreach (var item in Model)
            {
                <img src="~/@item.Sach.HinhAnhBia" class="card-img-top mt-2 col-4" alt="...">
                <div class="card-body col-6 text-justify mt-4" style="font-size: 40px">
                    <p class="card-title font-weight-bold">Tên sách:  @item.Sach.TenSach</p>
                    <p class="card-title font-weight-bold">Số lượng:  @item.SoLuong</p>
                    <p class="card-title font-weight-bold">Đơn giá:  @item.DonGia</p>
                    <p class="card-title font-weight-bold" style="color:red"><i>Thành tiền: @(item.DonGia * item.SoLuong) đồng</i></p>
                    <p class="card-title font-weight-bold">Điện thoại giao hàng:  @item.DatHang.DienThoaiGiaoHang</p>
                    <p class="card-title font-weight-bold">Địa chỉ giao hàng:  @item.DatHang.DiaChiGiaoHang</p>
                    <p class="card-title font-weight-bold">
                        Tình trạng:  @if (item.DatHang.TinhTrang == 0)
                        {
                            <span>Đơn hàng mới</span>
                        }
                        else if (item.DatHang.TinhTrang == 1)
                        {
                            <span>Đang xác nhận</span>
                        }
                        else if (item.DatHang.TinhTrang == 2)
                        {
                            <span>Đã hủy</span>
                        }
                        else if (item.DatHang.TinhTrang == 3)
                        {
                            <span>Đang đóng gói</span>
                        }
                        else if (item.DatHang.TinhTrang == 4)
                        {
                            <span>Đang gởi vận chuyển</span>
                        }
                        else if (item.DatHang.TinhTrang == 5)
                        {
                            <span>Đang chuyển</span>
                        }
                        else if (item.DatHang.TinhTrang == 6)
                        {
                            <span>Thất bại</span>
                        }
                        else if (item.DatHang.TinhTrang == 7)
                        {
                            <span>Đang chuyển hoàn</span>
                        }
                        else if (item.DatHang.TinhTrang == 8)
                        {
                            <span>Đã chuyển hoàn</span>
                        }
                        else
                        {
                            <span>Thành công</span>
                        }
                    </p>
                </div>
            }
        </div>
    </div>

</div>
